@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
  a {
    @apply ;
  }
}
@layer base{
     a {
        @apply padding:30px;
      }
} */
.mainnav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding:0 30px;
    transition: 0.3s;
  }
  a{
    text-decoration: none;
  }
